:root {
  --border-radius: 1rem;
  --border: 1px solid rgb(64, 73, 99);
  --border-light: 1px solid rgba(64, 73, 99, 0.557);
  --border-ultra-light: 1px solid rgba(64, 73, 99, 0.222);

  --transparent-black-light: none !important;
  --transparent-black: rgba(0, 0, 0, 0.385);
  --transparent-black-dark: rgba(0, 0, 0, 0.906);

  --accent-green: #36d7b7;
  --accent-purple: #98a1fa;
  --accent-purple-dark: #4449734b;

  --sidebar-margin: 80px;
  --box-shadow-light: rgba(0, 0, 0, 0.086) 6px 8px 12px, rgba(0, 0, 0, 0.108) 6px 4px 6px;
  --box-shadow: rgb(0 0 0 / 24%) 6px 8px 12px, rgb(0 0 0 / 24%) 6px 4px 6px,
    rgb(0 0 0 / 32%) 2px 2px 4px;
  --main-color: #3d5af1;
  --main-color-dark: #3651d4;
  --main-color-light: #5872f5;
  --text-color: #cfcde7;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background: black;
  color: rgb(209, 209, 209) !important;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;




  background: linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
  /* background-image: url(./assets/bg2.jpg); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.853), rgba(0, 0, 0, 0.78)), url(./assets/bg2.jpg); */
  ;
  /* background: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.938)), url(./assets/bg2.jpg); */

  background-size: cover;

  background-attachment: fixed;
  /* background-blend-mode: overlay; */
}

.hidden {
  /* transition: .1s; */
  width: 0;
  opacity: 0;
}

.shown {
  /* transition: .1s; */
  opacity: 1;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.651);
  height: 100%;
  width: 1000%;
  position: absolute;
  top: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;


}

.info-card:nth-child(1) {

  column-span: 5;
}

.info-card:nth-child(3) {
  grid-column: 1 / 3;
}

.bold {
  font-weight: 500;
}

.large {
  font-size: 1rem;
}

.card {}

.card .symbol {
  margin: 0 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.formatted-number {
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  padding: none !important;
  margin: none !important;
}

h1 {
  font-size: 3em;
  /* color: #2c88ff; */
}

h1,
div,
div,
h4 {
  padding: none !important;
  margin: none !important;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(95.5deg,
      rgba(15, 53, 255) 12.82%,
      rgba(255, 72, 181) 41.96%,
      rgb(255, 15, 183) 75.06%,
      rgba(15, 53, 255) 107.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}




.info-card {
  position: relative;
  padding: 3rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  border: 2px solid #9f9f9f3a;
  backdrop-filter: blur(10px);
  /* max-height: 300px; */
  background-color: rgba(0, 0, 0, 0.556);
  overflow-y: scroll;

}

.info-card:hover {
  /* box-shadow: rgb(99 99 99 / 40%) 0px 2px 8px 0px; */
}


.swap-card {
  display: flex;
  grid-template-columns: auto;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}




.container {
  margin-left: var(--sidebar-margin);
  padding: 0 9rem;
  margin-top: 1rem
}

.large-text {
  font-weight: bold;
  font-size: 1.8rem;
  color: whitesmoke;
}

.bold {
  font-weight: bold;

}

.medium-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: whitesmoke;

  /* padding-bottom: 10px; */
}

.active {
  background-color: var(--accent-purple-dark)
}

nav .active {
  width: 100%;
  height: 53px;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  position: absolute;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
}

h3 {
  margin: none;
  padding: 0 !important;
}

.button:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
  /* box-shadow: rgb(99 99 99 / 50%) 0px 2px 8px 0px; */
}

.filter-buttons {
  margin: 1rem 0;
  height: 10vh;
  align-items: center;
  display: flex;
}

.detail-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;

}

.detail-links img {
  height: 20px;
  margin-right: 10px;
}

/* ==============Table============= */

table {
  width: 100%;
  border-collapse: separate;
  text-align: start;
  border-spacing: 0px !important;
  font-variant: normal;



}

th {
  padding-bottom: 10px;
}

th,
td {
  text-align: left;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}

/* // Set border-radius on the top-right and bottom-right of the last table data on the table row */
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

tr:hover {
  background-color: var(--accent-purple-dark);
  /* filter: brightness(1.3); */
}

.dex-symbol {
  transform: scale(0.5);
}





.pair-card {
  cursor: pointer;
  padding: 0rem 0rem;
  border-radius: 1rem;

  align-items: center;
  transition: all 0.2s;
  min-width: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
  height: 1.6rem;
  padding: .5rem 0;
  /* margin-top: 1rem; */
  /* border: 1px solid gray; */
  /* justify-content: space-between; */
  /* box-shadow: rgb(99
   99 99 / 10%) 0px 2px 8px 0px; */
  /* font-size: .6rem; */
}

.pair {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #dcdcdc3a;
  text-overflow: ellipsis;
  overflow: hidden;
  /* min-width: 40px; */
  text-align: center;
}

.pairs {
  min-height: 16rem;
  display: grid;
  gap: 10px;
}

#coingecko {
  transform: scale(1.1);
}

.theme {
  font-size: 1em;
  cursor: pointer;
  margin-left: 3rem;
}



.recharts-legend-item-text,
.recharts-legend-icon {
  display: none !important;
}

.active-card {
  transition: all 1s;
  backdrop-filter: blur(1px);
  border-radius: 1rem;
  border: 2px solid rgba(245, 245, 245, 0.241);
  background-clip: content-box, border-box;
  box-shadow: black 2px 1000px 2px inset;
  opacity: 0.9;
  background-color: var(--transparent-black);
  font-size: 1rem !important;
  font-weight: 400 !important;
  background-origin: border-box;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(95.5deg,
      rgba(15, 53, 255, 0.3) 12.82%,
      rgba(255, 72, 181, 0.3) 41.96%,
      rgba(15, 53, 255, 0.08) 75.06%,
      rgba(15, 53, 255, 0.11) 107.66%);

}


.recharts-tooltip-wrapper {
  background: pink !important;
}




/* ======nav ====== */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}





.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.search {
  min-height: 2.7rem;
  background-color: var(--main-color-light);
  margin: 2rem 0.5rem 1.7rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input::placeholder {
  color: var(--text-color);
}




.sidebar-links ul {
  position: relative;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}


.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}







.tooltip {
  background-color: var(--main-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover~.tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}



nav.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}